<div class="main">
  <h1 *ngIf="!usuarioLogado()">TODO APP by Vilácio & Sandro</h1>
  <h1 *ngIf="usuarioLogado()">ToDoList de {{ nomeUsuario() }}</h1>
  <div *ngIf="roleUsuario() === 'adm'" class="admin-panel">
    <hr>
    <h2>Painel do Administrador</h2>
    <button (click)="LISTAR_usuarios()">Ver Usuários Cadastrados</button>

    <ul *ngIf="listaUsuarios().length > 0">
      <li *ngFor="let u of listaUsuarios()">
        {{ u.nome }} - <strong>{{ u.role }}</strong>
        <button (click)="DELETAR_usuario(u._id)">Remover</button>
        <button (click)="PROMOVER_usuario(u._id)">Tornar ADM</button>
      </li>
    </ul>
  </div>
  <div *ngIf="usuarioLogado()">
    <input class="lg-text-input" #campoNovoItem
      (keyup.enter)="CREATE_tarefa(campoNovoItem.value); campoNovoItem.value=''" />
    <button class="btn-primary" (click)="CREATE_tarefa(campoNovoItem.value); campoNovoItem.value=''">
      Adicionar Tarefa</button>
    <ul>
      <li *ngFor="let tarefaDoLoop of arrayDeTarefas()">
        <app-item [tarefa]="tarefaDoLoop" (remover)="DELETE_tarefa($event)"
          (modificaTarefa)="UPDATE_tarefa(tarefaDoLoop)">
        </app-item>
      </li>
    </ul>
  </div>
  <div *ngIf="!usuarioLogado()">
    <p>Faça login para acessar suas tarefas!</p>
    <div *ngIf="!usuarioLogado()">
      <h2 *ngIf="modoRegistro()">Criar Conta</h2>
      <h2 *ngIf="!modoRegistro()">Entrar</h2>

      <input #username placeholder="nome" class="lg-text-input" />
      <br>
      <input #password type="password" placeholder="senha" class="lg-text-input" />

      <div class="botoes-auth">
        <button *ngIf="!modoRegistro()" class="btn-primary" (click)="Login(username.value, password.value)">
          Login
        </button>
        <button *ngIf="modoRegistro()" class="btn-primary" (click)="Register(username.value, password.value)">
          Cadastrar
        </button>

        <a (click)="toggleModo()" style="cursor: pointer; display: block; margin-top: 10px;">
          {{ modoRegistro() ? 'Já tenho conta' : 'Criar nova conta' }}
        </a>
      </div>
    </div>
  </div>
</div>